<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>CreateCustomer</title>
</head>
<body>
<h3>Create Block</h3>
<p>
    <a th:href="@{/categories}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form th:action="@{/categories/save}" th:object="${category}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <input type="submit" value="create"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>