<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<head th:replace="/layout :: head">
    <title>List blog</title>
</head>
<body>
<h3>
    <a th:href="@{/blog/create}">Create Blog new</a>
</h3>
<p>
    <a th:href="@{/categories}">
        Back to category list
    </a>
</p>
<table id="blogs">
    <tr>
        <th>STT</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
    </tr>
    <tr th:each="blog, b: ${blogs}">
        <td th:text="*{b.count}"></td>
        <td th:text="*{blog.author}"></td>
        <td th:text="*{blog.title}"></td>
        <td th:text="*{blog.category.getName()}"></td>
    </tr>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>